<header>
	<nav>
		<h1>Tumblr image uploader</h1>
	</nav>
</header>
<div id="message">
	drag & drop image uploader for tumblr.
</div>
<div id="content" class="landing" draggable="true">
	<span class="description">
		<a href="<%= url('/auth/tumblr') %>" id="ta">
			<span class="t">
				t
			</span><br/>
			<span class="signin">
				<i class="icon-signin"></i>sign in
			</span>
		</a>
	</span>
</div>


